<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5">

    <servlet>
        <servlet-name>horse</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>horse</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>